  <h3>"Виктория - С" Данные по банкам и по кассе  - <%= Russian::strftime(cashc.first.DAT.to_date, "%d %B %Y") if cashc.first %></h3>
  <div class="row-fluid">
    <div class="span3">
      <ul class="pager">
        <li class="previous">
          <%= link_to Russian::strftime(dat - 1.day, "%d %B %Y"), sweet_cashc_prev_day_url(:dat => dat), remote: true, :id => "prev_day" %>
        </li>

      </ul>
    </div>

    <div class="span6">
      <ul class="nav nav-pills">
        <li ><%= link_to Russian::strftime(Time.now - 1.day, "%d %B %Y"), cashc_url()%></li>
        <li class="<%=params[:day] == '1' ? 'active' : '' %>"><%= link_to Russian::strftime(Time.now - 2.day, "%d %B %Y"), sweet_cashc_url(:day => 1)%></li>
        <li class="<%=params[:day] == '2' ? 'active' : '' %>"><%= link_to Russian::strftime(Time.now - 3.day, "%d %B %Y"), sweet_cashc_url(:day => 2)%></li>
        <li class="<%=params[:day] == '3' ? 'active' : '' %>"><%= link_to Russian::strftime(Time.now - 4.day, "%d %B %Y"), sweet_cashc_url(:day => 3)%></li>
      </ul>
    </div>

    <div class="span3">
      <ul class="pager">
        <li class="next">
          <%= link_to Russian::strftime(dat + 1.day, "%d %B %Y"), sweet_cashc_next_day_url(:dat => dat), remote: true, :id => "next_day" %>
        </li>
      </ul>
    </div>
  </div>

  <table class="table table-hover">
    <tr>
      <th>Наименование</th>
      <th>Сбербанк</th>
      <th>Россельхоз банк</th>
    </tr>
    <%= render :partial => "cash/cash_item", :collection => cashc, :as => :item  %>
  </table>
