$('#implementation_table').hide( 'slide', {direction: 'left'}, 1500, {} );
$('#implementation_table').html('<%=j render partial: 'implementation/table', locals: { implementations: @implementations, dat: @workin_date.work_date_value} %>').fadeIn("slow")