<tr >
  <td><%= link_to item.NAIM, sweet_planshow_url(item.N) %></td>
  <td class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-plan" href="#item<%= item.N %>"><%= decimal_register item.PLM %></td>
  <td class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-plan" href="#item<%= item.N %>"><%= decimal_register item.PLS %></td>
  <td class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-plan" href="#item<%= item.N %>"><%= decimal_register item.VRS %></td>
  <td class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-plan" href="#item<%= item.N %>"><%= decimal_register item.VRD %></td>
  <td class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-plan" href="#item<%= item.N %>"><%= decimal_register item.OST %></td>
</tr>

<tr>
  <td colspan="6" class="more">
    <div id="item<%= item.N %>" class=" accordion-body collapse">
      <div class="plan-progress">
        <% if item.PLM.to_i > 0 %>
            План
            <div class="progress">

              <div class="bar bar-success" style="width: <%= number_to_percentage((item.PLS / item.PLM) *100, :precision => 0) %>;">
                 <%= number_to_percentage((item.PLS / item.PLM) *100, :precision => 0) %></div>
              <div class="bar bar-danger" style="width: <%= number_to_percentage( 100 - (item.PLS / item.PLM) *100, :precision => 0) %>;">
                <%= number_to_percentage(100 - (item.PLS / item.PLM) *100, :precision => 0) %></div>
            </div>

        <% else %>
            Нет данных
        <% end %>
      </div>
      <div class="fact-progress">
        <% if item.PLS.to_i > 0 %>
            Факт
            <div class="progress">
              <div class="bar bar-success" style="width: <%= number_to_percentage((item.VRS / item.PLS) *100, :precision => 0) %>;"><%= number_to_percentage((item.VRS / item.PLS) *100, :precision => 0) %></div>
              <div class="bar bar-danger" style="width: <%= number_to_percentage( 100 - (item.VRS / item.PLS) *100, :precision => 0) %>;"><%= number_to_percentage(100 - (item.VRS / item.PLS) *100, :precision => 0) %></div>
            </div>
        <% else %>
            Нет данных
        <% end %>
      </div>

    </div>
  </td>
</tr>