<div class="row-fluid">
  <div class="span3">
    <ul class="pager">
      <li class="previous">
        <%= link_to Russian::strftime(dat - 1.day, "%d %B %Y"), sweet_plan_prev_day_url(:dat => dat), remote: true, :id => "prev_day" %>
      </li>

    </ul>
  </div>

  <div class="span6">
    <ul class="nav nav-pills">
      <li><%= link_to Russian::strftime(Time.now - 1.day, "%d %B %Y"), sweet_plan_url()%></li>
      <li class="<%=params[:day] == '1' ? 'active' : '' %>"><%= link_to Russian::strftime(Time.now - 2.day, "%d %B %Y"), sweet_plan_url(:day => 1)%></li>
      <li class="<%=params[:day] == '2' ? 'active' : '' %>"><%= link_to Russian::strftime(Time.now - 3.day, "%d %B %Y"), sweet_plan_url(:day => 2)%></li>
      <li class="<%=params[:day] == '3' ? 'active' : '' %>"><%= link_to Russian::strftime(Time.now - 4.day, "%d %B %Y"), sweet_plan_url(:day => 3)%></li>
    </ul>
  </div>

  <div class="span3">
    <ul class="pager">
      <li class="next">
        <%= link_to Russian::strftime(dat + 1.day, "%d %B %Y"), sweet_plan_next_day_url(:dat => dat), remote: true, :id => "next_day" %>
      </li>
    </ul>
  </div>
</div>
<% if plans.first %>
    <h3>Выполнение плана - <%= Russian::strftime(plans.first.DAT, "%d %B %Y") %></h3>
<% end %>
<table id="accordion-plan" class="table table-hover scrol">
  <tr>
    <th>Наименование</th>
    <th>План на месяц</th>
    <th>План нарастающий</th>
    <th>Факт нарастающий</th>
    <th>Дневная выработка</th>
    <th>Остатки</th>

  </tr>
  <%= render :partial => 'sweet/plan/plan_item', :collection => plans, :as => :item  %>
</table>