$('#plan_table').hide( 'slide', {direction: 'left'}, 1500, {} );
$('#plan_table').html('<%=j render partial: 'plan/table', locals: { plans: @plans, dat: @workin_date.work_date_value} %>').fadeIn("slow")