<% if current_user.admin? %>
<div class="span12">
  <ul class="years">
    <% @m.each do |year| %>
        <li><%= link_to_unless_current year, sweet_implementation_url(:year => year)%></li>
    <% end %>
  </ul>
  <br/>
  <br/>

  <div id="implementation_table">
    <div class="row-fluid">
      <div class="span3">
        <ul class="pager">
          <li class="previous">
            <%= link_to Russian::strftime(@workin_date.work_date_value - 1.day, "%d %B %Y"), sweet_implementation_prev_day_url(:dat => @workin_date.work_date_value), remote: true, :id => "prev_day" %>
          </li>

        </ul>
      </div>

      <div class="span6">
        <ul class="nav nav-pills">
          <li class="<%=params[:day] == nil ? 'active' : '' %>"><%= link_to Russian::strftime(Time.now - 1.day, "%d %B %Y"), sweet_implementation_url()%></li>
          <li class="<%=params[:day] == '1' ? 'active' : '' %>"><%= link_to Russian::strftime(Time.now - 2.day, "%d %B %Y"), sweet_implementation_url(:day => 1)%></li>
          <li class="<%=params[:day] == '2' ? 'active' : '' %>"><%= link_to Russian::strftime(Time.now - 3.day, "%d %B %Y"), sweet_implementation_url(:day => 2)%></li>
          <li class="<%=params[:day] == '3' ? 'active' : '' %>"><%= link_to Russian::strftime(Time.now - 4.day, "%d %B %Y"), sweet_implementation_url(:day => 3)%></li>
        </ul>
      </div>

      <div class="span3">
        <ul class="pager">
          <li class="next">
            <%= link_to Russian::strftime(@workin_date.work_date_value + 1.day, "%d %B %Y"), sweet_implementation_next_day_url(:dat => @workin_date.work_date_value), remote: true, :id => "next_day" %>
          </li>
        </ul>
      </div>
    </div>

  <% if @implementations.first %>
  <h3>Реализация продукции  - <%= Russian::strftime(@implementations.first.DAT.to_date, "%d %B %Y")%></h3>
      <% end %>
  <table class="table table-hover">
    <tr>
      <th>Наименование</th>
      <th>Реализация за день</th>
      <th>Реализация с начала месяца</th>
      <th>Реализация c начала года</th>
    </tr>

    <%= render :partial => 'sweet/implementation/implementation_item', :collection => @implementations, :as => :item  %>
  </table>
    </div>
    </div>
<% else %>
    <h2>Недостаточно прав</h2>
<% end %>