<% if current_user.admin? %>
    <div class="span12">
      <p><%= link_to "Данные за все время", sweet_implementationall_url(params[:id]) %></p>
      <ul class="nav nav-tabs" id="myTab">
        <li><a href="#day">По дням</a></li>
        <li><a href="#month">По месяцам</a></li>

      </ul>

      <div class="tab-content">
        <div class="tab-pane" id="month">

          <%
             #max_pls_m = @month_plans.maximum('PLM')
             max_summ_m = @month_plans.maximum('SUMM')
             #if max_pls_m > max_vrs_m
             #	@max_m = max_pls_m
             #else
             #	@max_m = max_vrs_m
             #end
             @max_m = max_summ_m
             @d = "scroller"
          %>
          <% @month_plans.each do |plan| %>
              <div class="row-fluid <%= @d %>">
                <div class="span12">
                  <% if @d != 1 %>
                      Динамика реализации(По месяцам) - <b><%= @month_plans.first.NAIM %></b>
                      <br/>
                      <br/>
                  <% end %>
                  <div class="row-fluid ">
                    <div class="span2">
                      <% if @d != 1 %>
                          Дата <br/> <br/>
                      <% end %>
                      <%= Russian::strftime(plan.DAT, "%d %B %Y") %></div>
                    <div class="span8">
                      <% if @d != 1 %>
                          <span class="label label-success">Реализация за месяц</span>
                      <span class="label label-important">Реализация на сегодняшний день(<%= @nowday %>
                        рабочих дней) </span> <br/><br/>
                      <% end %>
                      <div class="progress progress-success">

                        <div class="bar" style="width: <%= number_to_percentage((plan.SUMM / @max_m.to_f) *100, :precision => 0) %>">
                          <p><%= int_register plan.SUMM %> кг</p></div>
                      </div>
                      <% if SwImplementation.where("YEAR(DAT) = ? AND MONTH(DAT) = ? AND DAY(DAT) = ? AND N = ?", plan.DAT.to_date.year, plan.DAT.to_date.month, @nowday, plan.N).first
                           sum =SwImplementation.where("YEAR(DAT) = ? AND MONTH(DAT) = ? AND DAY(DAT) = ? AND N = ?", plan.DAT.to_date.year, plan.DAT.to_date.month, @nowday, plan.N).first.SUMM.to_f
                         else
                           sum = 0
                         end
                      %>
                      <div class="progress progress-danger">
                        <div class="bar" style="width: <%= number_to_percentage((sum / @max_m.to_f) *100, :precision => 0) %>"><p><%= int_register sum.to_i %> кг</p>
                        </div>
                      </div>
                    </div>
                    <div class="span2">
                      <% if @d != 1 %>
                          Реализация за год <br/><br/>
                      <% end %>
                      <%= int_register plan.SUMY %> кг
                    </div>
                  </div>
                </div>
              </div>
              <br/>
              <% @d = 1 %>
          <% end %>
          <div class="row-fluid bottomblok"></div>
          <%#= high_chart("monthBarGraph", @bar_graph) %>
          <%#= high_chart("monthLineGraph", @line_graph) %>
        </div>
        <div class="tab-pane" id="day">
          <%
             @max = @plans.where('DAY(DAT) = ?', @nowday).maximum('SUMM')
             @d = "scroller"
          %>

          <br/>
          <% @plans.where('DAY(DAT) = ?', @nowday).each do |plan| %>
              <%#= plan.inspect %>
              <div class="row-fluid <%= @d %>">
                <div class="span12">
                  <% if @d != 1 %>

                      Динамика выполнения плана по месяцам(по дням) за <%= @nowday %> рабочих дней -
                      <b><%= @plans.first.NAIM %></b><br/> <br/>
                  <% end %>
                  <div class="row-fluid ">
                    <div class="span2">
                      <% if @d != 1 %>
                          Дата <br/> <br/>
                      <% end %>
                      <%= Russian::strftime(plan.DAT, "%d %B %Y") %></div>
                    <div class="span8">
                      <% if @d != 1 %>
                          <span class="label label-success">Реализация на сегодняшний день</span> <br/><br/>
                      <% end %>
                      <div class="progress progress-success">
                        <div class="bar" style="width: <%= number_to_percentage((plan.SUMM.to_f / @max.to_f) *100, :precision => 0) %>">
                          <p><%= int_register plan.SUMM %> кг </p></div>
                      </div>
                    </div>
                    <div class="span2">
                      <% if @d != 1 %>
                          Реализация за год <br/><br/>
                      <% end %>
                      <%= int_register plan.SUMY %> кг
                    </div>
                  </div>
                </div>
              </div>
              <br/>
              <% @d = 1 %>
          <% end %>
          <div class="row-fluid bottomblok"></div>

<%#= high_chart("daysBarGraph", @days_bar_graph) %>

<%#= high_chart("daysLineGraph", @day_sbar_graph) %>
        </div>
      </div>
    </div>
<% else %>
    <h2>Недостаточно прав</h2>
<% end %>
