/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.flickr_pagination {
    padding: 0.3em;
    cursor: default; }
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
.flickr_pagination .disabled {
    color: #aaaaaa; }
.flickr_pagination .current {
    border-color: #003366;
    text-decoration: none;
    background: #0063dc;
    color: white; }
.flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
.flickr_pagination a:hover, .flickr_pagination a:focus {
    border-color: #003366;
    text-decoration: none;
    background: #0063dc;
    color: white; }
.flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
.flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
.flickr_pagination .previous_page {
    margin-right: 1em; }
.flickr_pagination .next_page {
    margin-left: 1em; }


.sidebar-nav li {
    line-height: 25px !important;
}

body {
    font-size: 16px !important;
    font-weight: bold !important;
}
.navbar {
    font-size: 16px !important;
    font-weight: normal !important;
}

#loginBlock{width: 250px; margin: 0 auto;}
.years{list-style: none; display: inline;}
.years li{display: inline;float: left;}

.years li a{float: none;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    text-shadow: 0 1px 0 #FFFFFF;}


.assortment .w0{margin-left: 0px !important;}
.assortment .w5{margin-left: 10px !important;}
.assortment .w10{margin-left: 20px !important;}

.navbar .nav li > a.active{background-color: #E5E5E5;}
.navbar .nav li > a.active:hover{background-color: #E5E5E5;}
.navbar .nav a.active{color: #555555;}

.sidebar-nav li > a.active{background-color: #0088CC;}
.sidebar-nav li > a.active:hover{background-color: #0088CC;}
.sidebar-nav a.active{color: #FFFFFF;}

.margin10{margin-left: 10px}
.margin15{margin-left: 15px}
#accordion-plan td.more {
    border-top-color: #DDDDDD;
    border-top-style: solid;
    border-top-width: 0;
    line-height: 18px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    vertical-align: top;
}

.collapse {
    -webkit-transition: opacity 2.25s linear;
    -moz-transition: opacity 2.25s linear;
    -ms-transition: opacity 2.25s linear;
    -o-transition: opacity 2.25s linear;
    transition: opacity 2.25s linear;
}
.fact-progress .progress, .plan-progress .progress{margin: 0!important;height: 35px;}
.tab-pane .progress {
    height: 25px;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 5px;

}
.tab-pane .progress .bar{padding: 4px!important;}
.progress .bar{padding: 8px!important; font-size: 20px!important;}
.fact-progress, .plan-progress{margin:20px;}
#accordion-plan tr.accordion-toggle td{font-weight: bold;}
#accordion-plan tr.accordion-toggle.collapsed td{font-weight: normal;}
g.highcharts-axis-labels text{font-size: 14px !important;}
g.highcharts-tooltip tspan{font-size: 18px !important;}
g.highcharts-data-labels g text tspan{font-size: 16px !important;}
.table th, .table td{
    padding-bottom: 0px !important;
    padding-top: 3px !important;
}

td! >  .best_in_place{background-color: #DFF0D8!important; border-color:#D6E9C6 !important;}

ul.ul_days a {color: #6DBAFE;}
.background {background-color: #FFF !important; padding-bottom: 5px !important;}
.tab-pane .label{font-size: 16px !important; padding: 5px;}
.bottomblok{min-height: 700px;}
.tab-pane .bar p{color: #FFF; float: left !important;}
.tab-pane .progress {background-color: #B7B7B7; background-image: none}


.navbar-inner {
    min-height: 80px !important;
}

#clock{
    color: rgb(250, 0, 0);
    font-size: 35px;
    left: 19px;
    position: absolute;
    text-align: right;
    top: 44px;
    z-index: 1000;
}

.navbar .brand{
    position: relative;
    min-height: 55px;
}

