<% if current_user.admin? %>
<div class="span12">

  <ul class="years">
  <% @m.each do |year| %>
  <li><%= link_to_unless_current year, plan_url(:year => year)%></li>
  <% end %>
  </ul>
  <br/>
  <br />
  <div id="plan_table">
  <div class="row-fluid">
    <div class="span3">
      <ul class="pager">
        <li class="previous">
          <%= link_to Russian::strftime(@workin_date.work_date_value - 1.day, "%d %B %Y"), plan_prev_day_url(:dat => @workin_date.work_date_value), remote: true, :id => "prev_day" %>
        </li>

      </ul>
    </div>

    <div class="span6">
      <ul class="nav nav-pills">
        <li class="<%=params[:day] == nil ? 'active' : '' %>"><%= link_to Russian::strftime(Time.now - 1.day, "%d %B %Y"), plan_url()%></li>
        <li class="<%=params[:day] == '1' ? 'active' : '' %>"><%= link_to Russian::strftime(Time.now - 2.day, "%d %B %Y"), plan_url(:day => 1)%></li>
        <li class="<%=params[:day] == '2' ? 'active' : '' %>"><%= link_to Russian::strftime(Time.now - 3.day, "%d %B %Y"), plan_url(:day => 2)%></li>
        <li class="<%=params[:day] == '3' ? 'active' : '' %>"><%= link_to Russian::strftime(Time.now - 4.day, "%d %B %Y"), plan_url(:day => 3)%></li>
      </ul>
    </div>

    <div class="span3">
      <ul class="pager">
        <li class="next">
          <%= link_to Russian::strftime(@workin_date.work_date_value + 1.day, "%d %B %Y"), plan_next_day_url(:dat => @workin_date.work_date_value), remote: true, :id => "next_day" %>
        </li>
      </ul>
    </div>
  </div>
    <%= @workin_date.work_date_value %>
  <% if @plans.first %>
      <h3>Выполнение плана - <%= Russian::strftime(@plans.first.DAT, "%d %B %Y") %></h3>
  <% end %>
<table id="accordion-plan" class="table table-hover scrol">
  <tr>
    <th>Наименование</th>
    <th>План на месяц</th>
    <th>План нарастающий</th>
    <th>Факт нарастающий</th>
    <th>Дневная выработка</th>
    <th>Остатки</th>

  </tr>
  <%= render :partial => "plan/plan_item", :collection => @plans, :as => :item  %>
</table>
  </div>
<%#= will_paginate @plans, :class => "flickr_pagination", :next_label => ">>", :previous_label => "<<" %>
</div>
<% else %>
    <h2>Недостаточно прав</h2>
<% end %>


