<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : 'ОАО "Виктория"' %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>


</head>
<body onload="startTime()">
<% if current_user && current_user.admin? %>
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
          <div class="container-fluid">
            <a class="brand" href="<%= conference_url %>">Виктория - <b style="color: #ff0000;">Sweetlife</b><br/> <div id="clock"> </div></a>
            <%= render_navigation :context => :sweet, :level => 1 %>
            <form class="navbar-form pull-left">
              <input id="datepicker" name="working_date" type="text" class="span2" value="<%= Russian::strftime(@workin_date.work_date_value, "%d %B %Y") %>">
            </form>
            <ul class="nav pull-right">
              <li><a href="/">Численность - <%= SwQuantity.where(:date => Time.now.to_date).first ? SwQuantity.where(:date => Time.now.to_date).first.kol : SwQuantity.last.kol %>
                <% if SwQuantity.where(:date => Time.now.to_date).first && SwQuantity.where(:date => Time.now.to_date - 1.day).first
                     @last_day = SwQuantity.where(:date => Time.now.to_date - 1.day).first.kol
                     @current_day = SwQuantity.where(:date => Time.now.to_date).first.kol
                %>
                    <% if @current_day > @last_day %>
                        <span class="label label-success">+ <%= @current_day - @last_day %></span>
                    <% end %>
                    <% if @current_day < @last_day %>
                        <span class="label label-important">- <%= @last_day - @current_day %></span>
                    <% end %>
                <% end %>
              </a>

              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
    </div>
<% end %>
<div class="container-fluid">
  <div class="row-fluid">
    <%= bootstrap_flash %>
    <%= yield :sidebar %>


    <%= yield %>

  </div><!--/row-->

  <footer>
    <p>&copy; Миронов В. И. 2013 <% if  Time.now.year != 2013  %> - <%= Time.now.year %><% end %></p>
  </footer>

</div> <!-- /container -->

<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "application" %>

</body>
</html>
